/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #ff4c65;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
    text-decoration: none;
  }

/* HEADING */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.line {
    font-size: 3rem;
    color: #FFC33C;
}

/* TAGA MOCHI DESIGN */
.game-egg {
  width: 550px;
  height: 700px;
  background-color: #1EA6A5;
  border: 8px solid #252681;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.screen {
    height: 18rem;
    width: 18rem;
    margin-top: 7rem;
    border: 6px solid #252681;
    box-shadow: 0 0 0 10px #F6A220, 0 0 0 16px #252681;
    border-radius: 20px;
    background-image: url(/IMG/screen-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.screen__mochi {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  margin-top: 6rem;
  animation: play;
  background-image: url(/IMG/emo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 20rem;
  margin-top: 4rem;
}

.buttons-button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 5px solid #252681;
  background-color: #C64565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.buttons__button-2 {
  align-self: flex-end;
}



/* TEST */

.screen:has(~ .buttons > .buttons__button-1:active) > .screen__mochi {
  animation: play .5s infinite ease-in-out alternate;
  background-image: url(/IMG/emo1.png);
  }

@keyframes play {
  0% {
    translate: 0;
    
  }

  50% {
    transform: 0 -100px;
    rotate: y -360deg;
  }

  100% {
    translate: 0 -100px;
  }
}
