/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}


body {
  height: 100vh;
  width: 100%;
  background-image: url("../IMG/bsckground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* HEADING */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.line {
  font-family: "Reggae One", cursive;
  font-size: 5rem;
  color: #ddb1b9;
  text-shadow: 5px 5px 5px #252681;
  line-height: 4rem;
}

.heading__line-2 {
  font-size: 1rem;
}

/* TAGA MOCHI DESIGN */
.game-egg {
  width: 550px;
  height: 700px;
  background-color: #56a5da;
  border: 8px solid #47158a;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen {
  height: 18rem;
  width: 18rem;
  margin-top: 5rem;
  border: 6px solid #252681;
  box-shadow: 0 0 0 10px #ddb1b9, 0 0 0 16px #252681;
  border-radius: 20px;
  background-image: url(../IMG/screen-background-2.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.screen:has(.screen__button-how-to-play:focus) > .screen__manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.7rem;
  height: 100%;
  width: 100%;
  background-color: #ddb1b9;
}

.screen:has(.screen__button-about-me:focus) > .screen__about-me-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.7rem;
  height: 100%;
  width: 100%;
  background-color: #ddb1b9;
}

.screen__about-me-info {
  display: none;
  justify-content: center;
}

.screen:has(.screen__button-about-me:focus) > .screen__button-start,
.screen:has(.screen__button-about-me:focus) > .screen__button-how-to-play {
  display: none;
}

.screen__about-me-info p {
  font-size: 0.6rem;
  line-height: 1rem;
}

.screen-button {
  height: 2rem;
  width: 10rem;
  background-color: #ddb1b9;
}

.screen:has(.screen__button-how-to-play:focus) > .screen__button-start,
.screen:has(.screen__button-how-to-play:focus) > .screen__button-about-me {
  display: none;
}

.start-button__link {
  color: black;
}

.screen__manual {
  display: none;
  justify-content: center;
}

.screen__manual p {
  font-size: 0.5rem;
}

.start-paragraph__button {
  padding: 0.3rem;
  font-size: 0.5rem;
  background-color: #ddb1b9;
}

.play-paragraph__button,
.feed-paragraph__button,
.sleep-paragraph__button {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 0.4rem;
  font-weight: 100;
  background-color: #c64565;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 20rem;
  margin-top: 2rem;
}

.buttons-button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 5px solid #47158a;
  background-color: #c64565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.buttons-button:active {
  box-shadow: inset 0px 0px 6px #252525;
}

.buttons__button-2 {
  align-self: flex-end;
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 10rem;
  color: rgb(98, 92, 105);
}
